
.user {
    width: 100%;
    border: 2px solid black;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.content {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.user_items {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 20px;
    width: 40%;
}

.user_posts {
    width: 70%;
    text-align: center;
    display: flex;
    column-gap: 20px;
    row-gap: 30px;
    flex-wrap: wrap;
}

.user_posts > div {
    width: 18%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: space-between;
}

.user_posts > div > a {
    padding: 5px 5px;
    transition: 0.2s;
    font-size: 15px;
    color: black;
    border: 1px solid #676666;
    background-color: #ffffff;
    text-align: center;
    align-self: center;
    text-decoration: none;
}

.user_posts > div > a:hover {
    color: #ffffff;
    background-color: #676666;
    transition: 0.2s;
}

.btn {
    width: 90%;
    margin: 20px 0 10px;
    padding: 10px 0;
    font-size: 15px;
    font-weight: bold;
    transition: 0.2s;
    color: black;
    border: 2px solid #676666;
    background-color: #ffffff;
    text-align: center;
    align-self: center;
}

.btn:hover {
    color: #ffffff;
    background-color: #676666;
    transition: 0.2s;
}

.user_address {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.user_address > div {
    margin-left: 20px;
    font-size: 15px;
}

.address_geo > div {
    margin-left: 20px;
}

.user_company {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.user_company > div {
    margin-left: 20px;
    font-size: 15px;
}